﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contacto</title>
</head>
<body>
    <div>
        <p>marco fidel ortiz </p>
        <p>mafio_789@hotmail.com</p>
        <p>3134346797</p>
        <p>0172009467</p>
    </div>
</body>
</html>
